.income-page {
  padding: 20px;
}

.income-summary {
  background: #a6f9ff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.actions button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: #af71ff;
  border-radius: 5%;
  border: none;
}

.income-table {
  width: 100%;
  border-collapse: collapse;
}

.income-table th {
  padding: 10px;
  text-align: center;
  background: #9861ff;
}

.income-table td {
  padding: 10px;
  text-align: center;
  background: #61a0ff;
}

h1{
  color: rgb(92, 33, 255);
}