.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500vh;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px transparent;
  border-top: 4px solid #7f39ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
