.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(129, 179, 255, 0.356);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: rgb(222, 197, 255);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.modal input {
  width: 100%;
  margin: 8px 0;
  padding: 6px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.save {
  background: #28a745;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel{
  background: #dc3545;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.print{
  background: #28a745;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

h2{
  color: rgb(106, 26, 255);
}